@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5a7463;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-custom-green {
  background-color: #5a7463;
}

.text-custom-tan {
  color: #DFDDCE;
}

.text-custom-brown {
  color: #847266;
}