@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5A7463;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5A7463;
    --foreground: #ededed;
  }
}

.custom-color-green {
  color: #5A7463;
}
.custom-color-dark-brown {
  color: #3D2F2A;
}

.custom-color-light-brown {
  color: #847266;
}

.custom-color-light-green {
  color: #92A48A;
}

.custom-color-tan {
  color: #DFDDCE;
}

.book-location1 {
  top: 75%;
  position: absolute;
}
.book-location2 {
  top: 75%;
  left: 75%;
  position: absolute;
}

.logo-login {
  top: 31%;
  left: 35%;
  width: 12%;
  position: absolute;
}

#rectangle-login1 {
  width: 100%;
  top: 24%;
  height: 40%;
  background-color: #847266;
  position: absolute;
}

#rectangle-login2 {
  width: 100%;
  top: 24%;
  height: 3%;
  background-color: #3D2F2A;
  position: absolute;
}

.button1 {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  z-index: "9999";
}

#rectangle-login3 {
  width: 100%;
  top: 62%;
  height: 3%;
  background-color: #3D2F2A;
  position: absolute;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
